{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br><br>
<link rel="stylesheet" type="text/css" href="{% static 'css/items.css' %}">
    <form id="searchform" action="" method="post" accept-charset="utf-8">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Search" />

    </form>
<div id="content">
<table id="items" class="sortable">
  <thead>
    <tr>
      
      <th>Title</th>
      <th> Author </th>
      <th> Collection </th>
      <th>Date Added</th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      {% if sites %}
        {% for item in sites %}
        <td>
          <a href="/item/{{ item.slug }}" class="item-thumbnail" ><img src="/{{item.files}}" style="float: left;margin: 0 10px 0 0;width: 20%;"></a>
          <span class="title"> <a href="/item/{{ item.slug }}">{{item.title}}</a></span>
        </td>
        <td id="authors" value="{{ item.attributes }}">
        </td>
        <td id="collections" value="{{ item.attributes }}">
        </td>
        <td>
          {{item.date}}
        </td>
      </tr>
  {% endfor %}
{% else %}
  {% for item in items %}
      <tr>
         <td>
          <a href="/item/{{ item.slug }}" class="item-thumbnail" ><img src="/{{item.files}}" style="float: left;margin: 0 10px 0 0;width: 20%;"></a>
          <span class="title"> <a href="/item/{{ item.slug }}">{{item.title}}</a></span>
        </td>
        <td id="author" value="{{ item.attributes }}">
        </td>
        <td id="collection" value="{{ item.attributes }}">
        </td>
        <td>
          {{item.date}}
        </td>
{% endfor %}
{% endif %}
    </tr>
    

  </tbody>
</table>
</div>
<div class="row">




</div>
<script src="{% static 'js/sorttable.js' %}"></script>
<script type="text/javascript">
var js = JSON.parse(document.getElementById("author").value.toString());
console.log(document.getElementById("author").value);
document.getElementById("author").innerHTML = js.author;
var jss = JSON.parse(document.getElementById("collection").value.toString());
console.log(jss);
document.getElementById("collection").innerHTML = jss.author;

</script>
{% include "footer.html" %}
{% endblock %}
